# MSSQL
MSSQL_DRIVER={SQL Server}
MSSQL_HOST=your_host
MSSQL_SERVER=your_server
MSSQL_DATABASE=your_mssql_database
MSSQL_USERNAME=your_mssql_username
MSSQL_PASSWORD=your_mssql_password

# Ollama
OLLAMA_BASE_URL=http://localhost:11434
PHI3_MODEL=phi3
DEEPSEEK_MODEL=deepseek-r1
GEMMA_MODEL=gemma3n:e4b
QWEN_MODEL=qwen3:latest

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_VECTOR_SIZE=512
WEIGHTS_DIR=weights
